<form method="post" action="/login">
  <label>UserName:</label>
  <input type="text" name="UserName">
  <label>Password:</label>
  <input type="password" name="Password">

  <input type="submit" name="submit" value="Submit">
</form>
